@{
    ViewData["Title"] = "Home Page";
}
@model Craps.Models.HomeModel

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        
        <form asp-action="CreateUser" asp-controller="Home">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="Your name goes here" />
            <input type="submit" />
        </form>

    </div>
